packages/lc-python/lc_python-2023.12.14.tar.gz/lc_python-2023.12.14/src/node_red/js/nodered/flows.json
[
    {
        "id": "t1",
        "type": "tab",
        "label": "AXWIFI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "t2",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ah1",
        "type": "ax-hub",
        "z": "t1",
        "name": "ax-hub",
        "x": 1360,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ac1",
        "type": "ax-cond",
        "z": "t1",
        "name": "is_reading",
        "condition": "[\"cpeid\",\"and\",\"props.WiFi\"]",
        "match_msg": false,
        "outputs": 1,
        "port_labels": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "ao1"
            ]
        ]
    },
    {
        "id": "ao1",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.add_conf",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"country\": \"Europe\",\"upper_chan_2\":13,\"dfs_weight\":0.95,\"regulatory_domain\":\"ETSI\",\"algo_2\":\"odiac\",\"algo_5\":\"base\",\"allow_auto_enforce_2\":false,\"allow_auto_enforce_5\":false}",
        "outputs": 1,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "ao2"
            ]
        ]
    },
    {
        "id": "ao2",
        "type": "ax-op",
        "z": "t1",
        "name": "validate_and_arrange_data",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "6a1c00e4.702618"
            ]
        ]
    },
    {
        "id": "ao3",
        "type": "ax-op",
        "z": "t1",
        "name": "expert.fix_radio_refs",
        "outputs": 1,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "ao4"
            ]
        ]
    },
    {
        "id": "ao4",
        "type": "ax-op",
        "z": "t1",
        "name": "expert.normalize_scan_result",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1080,
        "y": 520,
        "wires": [
            [
                "ao5"
            ]
        ]
    },
    {
        "id": "ao5",
        "type": "ax-op",
        "z": "t1",
        "name": "expert.access_points_into_ssids",
        "outputs": 1,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "ao6"
            ]
        ]
    },
    {
        "id": "ao6",
        "type": "ax-op",
        "z": "t1",
        "name": "expert.band_into_ssids",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "ao19"
            ]
        ]
    },
    {
        "id": "ao7",
        "type": "ax-op",
        "z": "t1",
        "name": "expert.delta_q",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"redis_host\": \"127.0.0.1\", \"redis_port\": 6378}",
        "outputs": 1,
        "x": 780,
        "y": 880,
        "wires": [
            [
                "ao8"
            ]
        ]
    },
    {
        "id": "ao8",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.redis.get_events",
        "label": "",
        "async_timeout": 1,
        "deep_copy": false,
        "kw": "{\"port\":6378,\"key\":\"qualities:{d[id]}\",\"pth\":\"history\",\"count\":1000}",
        "outputs": 1,
        "x": 1050,
        "y": 880,
        "wires": [
            [
                "ao17"
            ]
        ]
    },
    {
        "id": "ao9",
        "type": "ax-op",
        "z": "t1",
        "name": "rolling_aggregation",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"config\":[{\"src\":\"collector.full_scan\",\"dst\":\"collector.full_scan_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"collector.light_scan\",\"dst\":\"collector.light_scan_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.axwifi\",\"dst\":\"2.changes.axwifi_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.manual\",\"dst\":\"2.changes.manual_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.auto\",\"dst\":\"2.changes.auto_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.axwifi\",\"dst\":\"5.changes.axwifi_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.manual\",\"dst\":\"5.changes.manual_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.auto\",\"dst\":\"5.changes.auto_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.expert.neighbors.total\",\"dst\":\"2.pme.neighbors_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.total\",\"dst\":\"2.pme.clients_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.total\",\"dst\":\"2.ssid.1.clients.total_last24h\",\"cf\":\"avg\",\"age\":86400},{\"src\":\"2.ssid.1.clients.low_rssi\",\"dst\":\"2.ssid.1.clients.low_rssi_last24h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.low_rssi_macs\",\"dst\":\"2.ssid.1.clients.low_rssi_macs_last24h\",\"cf\":\"concat\",\"age\":86400},{\"src\":\"5.expert.neighbors.total\",\"dst\":\"5.pme.neighbors_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.total\",\"dst\":\"5.pme.clients_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.total\",\"dst\":\"5.ssid.5.clients.total_last24h\",\"cf\":\"avg\",\"age\":86400},{\"src\":\"5.ssid.5.clients.low_rssi\",\"dst\":\"5.ssid.5.clients.low_rssi_last24h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.low_rssi_macs\",\"dst\":\"5.ssid.5.clients.low_rssi_macs_last24h\",\"cf\":\"concat\",\"age\":86400}]}",
        "outputs": 1,
        "x": 1050,
        "y": 1120,
        "wires": [
            [
                "ao10"
            ]
        ]
    },
    {
        "id": "ao10",
        "type": "ax-op",
        "z": "t1",
        "name": "intel.generate_recommendations",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"quality_thresholds\":{\"2\":0.4,\"5\":0.5},\"bad_encryptions\":[\"WEPEncryption\",\"TKIPEncryption\",\"WEPandAESEncryption\",\"TKIPandAESEncryption\",\"WEPandTKIPandAESEncryption\",\"WEPandTKIPEncryption\"],\"bad_sec_modes\":[\"WEP-64\",\"WEP-128\"],\"resources_threshold\":{\"cpu\":90,\"memory\":90},\"occurrences_threshold\":4,\"bad_op_standards\":{\"2\":[\"b\"],\"5\":[\"n\"]}}",
        "outputs": 1,
        "x": 720,
        "y": 1240,
        "wires": [
            [
                "ao20"
            ]
        ]
    },
    {
        "id": "ao11",
        "type": "ax-op",
        "z": "t1",
        "name": "arrange_data",
        "outputs": 1,
        "x": 790,
        "y": 1360,
        "wires": [
            [
                "ac2"
            ]
        ]
    },
    {
        "id": "ac2",
        "type": "ax-cond",
        "z": "t1",
        "name": "qualify",
        "condition": "{\"lookup_provider\":\"lookup\",\"expression\":{\"root\":[\"ts\",\"and\",[\":enforce2\",\"xor\",\":enforce5\",\"xor\",\":rollback2\",\"xor\",\":rollback5\"]],\"enforce2\":[\":auto_enforce2\",\"and\",\":enf_delta2\",\"and\",[\":qual_improve2\",\"or\",\":qual_worst2\",\"or\",\":window\"],\"and\",\":add_enforce_2\"],\"enforce5\":[\":auto_enforce5\",\"and\",\":enf_delta5\",\"and\",[\":qual_improve5\",\"or\",\":qual_worst5\",\"or\",\":window\"],\"and\",\":add_enforce_5\"],\"rollback2\":[\":block_enforce2\",\"and\",\":autochsel_off2\",\"and\",\":add_rollback_2\"],\"rollback5\":[\":block_enforce5\",\"and\",\":autochsel_off5\",\"and\",\":add_rollback_5\"],\"qual_improve2\":[[\"2.expert.cur_q\",\"and\",\"2.expert.cur_q\",\"<\",1],\"and\",[\"2.expert.delta_q\",\">=\",0]],\"qual_improve5\":[[\"5.expert.cur_q\",\"and\",\"5.expert.cur_q\",\"<\",1],\"and\",[\"5.expert.delta_q\",\">=\",0]],\"qual_worst2\":[[\"2.expert.cur_q\",\"and\",\"2.expert.cur_q\",\"<=\",1],\"and\",[\"2.expert.delta_q\",\">=\",0]],\"qual_worst5\":[[\"5.expert.cur_q\",\"and\",\"5.expert.cur_q\",\"<=\",1],\"and\",[\"5.expert.delta_q\",\">=\",0]],\"window\":[\"dt:hour\",\">=\",3,\"and\",\"dt:hour\",\"<=\",6],\"auto_enforce2\":[\"metadata.allow_auto_enforce_2\",\"and\",\"metadata.allow_auto_enforce_2\",\"==\",1],\"auto_enforce5\":[\"metadata.allow_auto_enforce_5\",\"and\",\"metadata.allow_auto_enforce_5\",\"==\",1],\"block_enforce2\":[\"metadata.allow_auto_enforce_2\",\"==\",0],\"block_enforce5\":[\"metadata.allow_auto_enforce_5\",\"==\",0],\"enf_delta2\":[\"not\",\"cache.2.dt_last_enf\",\"or\",\"cache.2.dt_last_enf\",\">\",0],\"enf_delta5\":[\"not\",\"cache.5.dt_last_enf\",\"or\",\"cache.5.dt_last_enf\",\">\",0],\"autochsel_off2\":[\"WiFi.Radio.1.AutoChannelEnable\",\"==\",0],\"autochsel_off5\":[\"WiFi.Radio.5.AutoChannelEnable\",\"==\",0]}}",
        "match_msg": false,
        "outputs": 1,
        "port_labels": [],
        "x": 1010,
        "y": 1360,
        "wires": [
            [
                "as1",
                "ao15",
                "ao16"
            ]
        ]
    },
    {
        "id": "as1",
        "type": "ax-snk",
        "z": "t1",
        "name": "ax.kafka.snk",
        "kw": "{\"password\": \"cli\", \"topic\": \"axwifi_results\", \"enc\": \"pickle-2\", \"config\": {\"bootstrap.servers\": \"192.168.29.104:9092\", \"security.protocol\": \"sasl_plaintext\", \"sasl.mechanisms\": \"PLAIN\", \"sasl.username\": \"axtract\", \"sasl.password\": \"cli\", \"log.connection.close\": false, \"queue.buffering.max.ms\": 100}}",
        "outputs": 0,
        "x": 1420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ao12",
        "type": "ax-op",
        "z": "t1",
        "name": "data_filter",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"path\":\"history\",\"allow\":[\"id\",\"ts\",\"job\",\"cache\",\"collector.full_scan\",\"collector.light_scan\",\"2.changes.auto\",\"2.changes.axwifi\",\"2.changes.manual\",\"2.expert.cur_ch\",\"2.expert.cur_bw\",\"2.expert.cur_q\",\"2.expert.cur_radio_ch\",\"2.expert.target_ch\",\"2.expert.target_bw\",\"2.expert.target_q\",\"2.expert.delta_q\",\"2.expert.neighbors.aci\",\"2.expert.neighbors.cci\",\"2.expert.neighbors.friends\",\"2.expert.neighbors.total\",\"2.pme.all\",\"2.recommendations.total\",\"2.ssid.1.clients.total\",\"2.ssid.1.clients.low_rssi\",\"2.ssid.1.clients.low_rssi_macs\",\"2.ssid.1.clients.sig_avg\",\"2.issues.interf\",\"2.issues.perf\",\"WiFi.Radio.1.Channel\",\"WiFi.Radio.1.AutoChannelEnable\",\"WiFi.Radio.1.Stats.BytesSent\",\"WiFi.Radio.1.Stats.BytesReceived\",\"5.changes.auto\",\"5.changes.axwifi\",\"5.changes.manual\",\"5.expert.cur_ch\",\"5.expert.cur_bw\",\"5.expert.cur_q\",\"5.expert.cur_radio_ch\",\"5.expert.target_ch\",\"5.expert.target_bw\",\"5.expert.target_q\",\"5.expert.delta_q\",\"5.expert.neighbors.aci\",\"5.expert.neighbors.cci\",\"5.expert.neighbors.friends\",\"5.expert.neighbors.total\",\"5.pme.all\",\"5.recommendations.total\",\"5.ssid.5.clients.total\",\"5.ssid.5.clients.low_rssi\",\"5.ssid.5.clients.low_rssi_macs\",\"5.ssid.5.clients.sig_avg\",\"5.issues.interf\",\"5.issues.perf\",\"WiFi.Radio.5.Channel\",\"WiFi.Radio.5.AutoChannelEnable\",\"WiFi.Radio.5.Stats.BytesSent\",\"WiFi.Radio.5.Stats.BytesReceived\",\"WiFi.SSID.1.Stats.BytesSent\",\"WiFi.SSID.1.Stats.BytesReceived\",\"WiFi.SSID.1.Stats.PacketsSent\",\"WiFi.SSID.1.Stats.PacketsReceived\",\"WiFi.SSID.1.Stats.ErrorsSent\",\"WiFi.SSID.1.Stats.ErrorsReceived\",\"WiFi.SSID.1.Stats.RetransCount\",\"WiFi.SSID.2.Stats.BytesSent\",\"WiFi.SSID.2.Stats.BytesReceived\",\"WiFi.SSID.2.Stats.PacketsSent\",\"WiFi.SSID.2.Stats.PacketsReceived\",\"WiFi.SSID.2.Stats.ErrorsSent\",\"WiFi.SSID.2.Stats.ErrorsReceived\",\"WiFi.SSID.2.Stats.RetransCount\",\"WiFi.SSID.5.Stats.BytesSent\",\"WiFi.SSID.5.Stats.BytesReceived\",\"WiFi.SSID.5.Stats.PacketsSent\",\"WiFi.SSID.5.Stats.PacketsReceived\",\"WiFi.SSID.5.Stats.ErrorsSent\",\"WiFi.SSID.5.Stats.ErrorsReceived\",\"WiFi.SSID.5.Stats.RetransCount\",\"WiFi.SSID.6.Stats.BytesSent\",\"WiFi.SSID.6.Stats.BytesReceived\",\"WiFi.SSID.6.Stats.PacketsSent\",\"WiFi.SSID.6.Stats.PacketsReceived\",\"WiFi.SSID.6.Stats.ErrorsSent\",\"WiFi.SSID.6.Stats.ErrorsReceived\",\"WiFi.SSID.6.Stats.RetransCount\"]}",
        "outputs": 1,
        "x": 1610,
        "y": 1360,
        "wires": [
            [
                "ao14"
            ]
        ]
    },
    {
        "id": "ao13",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.redis.set_events",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"port\": 6378, \"key\": \"qualities:{d[id]}\", \"enc\": \"compressed\", \"maxlen\": 96}",
        "outputs": 1,
        "x": 2080,
        "y": 1360,
        "wires": [
            [
                "as2"
            ]
        ]
    },
    {
        "id": "as2",
        "type": "ax-snk",
        "z": "t1",
        "name": "ax.snk.log",
        "label": "",
        "kw": "{}",
        "outputs": 0,
        "x": 2280,
        "y": 1360,
        "wires": []
    },
    {
        "id": "as3",
        "type": "ax-snk",
        "z": "t1",
        "name": "ax.elastic.snk",
        "label": "",
        "kw": "{\"hosts\":\"127.0.0.1\",\"number_of_shards\":1,\"index\":\"wifi\",\"http_pw\":\"axwifi\"}",
        "outputs": 0,
        "x": 1710,
        "y": 1460,
        "wires": []
    },
    {
        "id": "i1",
        "type": "inject",
        "z": "t1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"cpeid\":\"54833A-S190Y20057813\",\"sender\":{\"hosts\":\"axwifi-aio\",\"pid\":31123,\"name\":\"axtract_collector\",\"event_source\":\"main_collector_http_ipv4\"},\"ts\":1594168667.1246388,\"props\":{\"collector\":{\"msg\":\"Full Scan\",\"full_scan\":1,\"code\":200,\"details\":\"\",\"light_scan\":0},\"WiFi\":{\"NeighboringWiFiDiagnostic\":{\"scan_dt\":6009,\"coll_dt\":3887,\"DiagnosticsState\":\"Complete\",\"ResultNumberOfEntries\":56,\"Result\":{\"1\":{\"SignalStrength\":-92,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"filipeO2-Internet-803-5GHz\",\"BSSID\":\"A0-E4-CB-C9-DB-B5\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":36},\"2\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"62-31-97-0F-B7-AD\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-42,\"Channel\":108},\"3\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"C6-FB-E4-F4-FE-6E\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-62,\"Channel\":6},\"4\":{\"SignalStrength\":-40,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D_5G\",\"BSSID\":\"BC-99-11-76-13-5E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":36},\"5\":{\"SignalStrength\":-71,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"34-FA-9F-3B-7B-FC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"6\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"60-31-97-0F-B7-A8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-43,\"Channel\":108,\"SSID\":\"Axiros_5G\"},\"7\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"34-FA-9F-BB-91-0C\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"8\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-54-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"9\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CM-N_GUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-87,\"BSSID\":\"B6-FB-E4-F8-00-17\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"10\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"BSSID\":\"74-67-F7-3B-D2-02\",\"SignalStrength\":-71,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"11\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"B4-FB-E4-F4-FE-6E\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"12\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-14-CC-A8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"13\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-CC-A8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-60,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"EMAN2\"},\"14\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"34-FA-9F-FB-8D-C8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4},\"15\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B6-FB-E4-F4-FE-6E\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"CM-N_GUEST\"},\"16\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-EE-9C\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-63,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100,\"SSID\":\"GUESTELEA\"},\"17\":{\"SignalStrength\":-80,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"18\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"44-1E-98-54-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"19\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"44-1E-98-94-EE-9C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"20\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"62-31-97-0F-B7-DD\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":52,\"SSID\":\"\"},\"21\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"44-1E-98-14-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100},\"22\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-94-CC-A8\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"23\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"BMCOM\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"60-31-97-0F-B7-D8\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":52},\"24\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B4-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-87,\"Channel\":44,\"SSID\":\"CMN\"},\"25\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F5-FE-6E\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-80,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"\"},\"26\":{\"SignalStrength\":-88,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"00-FE-C8-DD-47-91\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"\",\"SecurityModeEnabled\":\"None\",\"Channel\":1,\"SSID\":\"O2-Guest\"},\"27\":{\"SignalStrength\":-46,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"60-31-97-0F-B7-A7\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"28\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Internet\",\"BSSID\":\"80-8C-97-D8-39-0F\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"29\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-14-A0-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"30\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_2.4_guest\",\"BSSID\":\"72-31-97-0F-B7-A4\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-47,\"Channel\":1},\"31\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-94-A0-98\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1},\"32\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-56,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"33\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"&lt;|&gt;\",\"BSSID\":\"90-5C-44-2F-30-61\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"34\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"35\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-3B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4,\"SSID\":\"EMANGUEST\"},\"36\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-EE-98\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1},\"37\":{\"SignalStrength\":-67,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-54-EE-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"38\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-14-EE-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"39\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"UPC\"},\"40\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"BSSID\":\"34-FA-9F-FB-7B-FC\",\"SignalStrength\":-73,\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"41\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"34-FA-9F-BB-7B-FC\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN8\"},\"42\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-F0-E8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-84,\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"43\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-D4-EE-98\",\"SignalStrength\":-67,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"44\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":4,\"SSID\":\"EMAN2\"},\"45\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D\",\"BSSID\":\"BC-99-11-76-13-5D\",\"SignalStrength\":-40,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":3},\"46\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"44-1E-98-D4-CC-AC\",\"SignalStrength\":-60,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108,\"SSID\":\"GUESTELEA\"},\"47\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-61,\"Channel\":108},\"48\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-86,\"Channel\":44,\"SSID\":\"\"},\"49\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"BSSID\":\"B4-FB-E4-F5-FE-6E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-81,\"Channel\":44},\"50\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-7B-FC\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN2\"},\"51\":{\"SignalStrength\":-43,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_5_guest\",\"BSSID\":\"62-31-97-0F-B7-A9\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"52\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"34-FA-9F-FB-91-0C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"53\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-AC\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"54\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-BB-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":4,\"SSID\":\"EMAN8\"},\"55\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-78,\"BSSID\":\"34-FA-9F-3B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"56\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"34-FA-9F-7B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":44}}},\"Radio\":{\"1\":{\"Status\":\"Up\",\"Enable\":1,\"OperatingChannelBandwidth\":\"20MHz\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"n\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":0,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"PossibleChannels\":\"1,2,3,4,5,6,7,8,9,10,11,12,13\",\"Channel\":11},\"5\":{\"Status\":\"Up\",\"Enable\":1,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":1,\"OperatingChannelBandwidth\":\"80MHz\",\"PossibleChannels\":\"36,40,44,48,52,56,60,64,100,104,108,112,116,132,136,140\",\"Channel\":36}},\"SSID\":{\"1\":{\"BSSID\":\"54-83-3A-3B-2E-01\",\"LowerLayers\":\"Device.WiFi.Radio.1\",\"SSID\":\"Zyxel_2E01\",\"Stats\":{\"BytesReceived\":11,\"ErrorsSent\":0,\"PacketsReceived\":88,\"ErrorsReceived\":1,\"BytesSent\":12,\"PacketsSent\":96}},\"5\":{\"LowerLayers\":\"Device.WiFi.Radio.5\",\"BSSID\":\"54-83-3A-3B-2E-02\",\"SSID\":\"Zyxel_2E01_5G\"}},\"AccessPoint\":{\"1\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"AESEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.1\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-00\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-80,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"}}},\"5\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.5\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-02\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-03\",\"SignalStrength\":-80,\"AuthenticationState\":1}}}}},\"DeviceInfo\":{\"MemoryStatus\":{\"Total\":10000,\"Free\":10},\"ProcessStatus\":{\"CPUUsage\":90},\"UpTime\":73920,\"HardwareVersion\":\"EMG3525-T50B\",\"ModelName\":\"EMG3525-T50B\",\"SerialNumber\":\"S190Y20057813\",\"SoftwareVersion\":\"V5.50(ABPM.0)D0\",\"ManufacturerOUI\":\"54833A\",\"ProductClass\":\"EMG3525-T50B\",\"Manufacturer\":\"Zyxel\"},\"metadata\":{\"allow_auto_enforce_5\":null,\"cid\":\"foo\",\"last_scan_ts\":1593765588366,\"allow_collection\":1,\"allow_auto_enforce_2\":1}},\"nr\":1}",
        "payloadType": "json",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "c1"
            ]
        ]
    },
    {
        "id": "c1",
        "type": "change",
        "z": "t1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ts",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "ac1"
            ]
        ]
    },
    {
        "id": "axsr1",
        "type": "ax-src",
        "z": "t1",
        "name": "ax.kafka.src",
        "label": "axwifi_readings",
        "kw": "{\"password\":\"cli\",\"group_id\":\"axwifi\",\"topics\":[\"axwifi_readings\"],\"config\":{\"bootstrap.servers\":\"192.168.29.104:9092\",\"security.protocol\":\"sasl_plaintext\",\"sasl.mechanisms\":\"PLAIN\",\"sasl.username\":\"axtract\",\"session.timeout.ms\":6000}}",
        "outputs": 1,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "ac1"
            ]
        ]
    },
    {
        "id": "ao14",
        "type": "ax-op",
        "z": "t1",
        "name": "rx.buffer_with_time_or_count",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"timespan\": 0.6, \"count\": 8}",
        "outputs": 1,
        "x": 1830,
        "y": 1360,
        "wires": [
            [
                "ao13"
            ]
        ]
    },
    {
        "id": "ao15",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.conv.axtree",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1430,
        "y": 1360,
        "wires": [
            [
                "ao12",
                "70d92d6c.46aeec",
                "a4157830.10f978"
            ]
        ]
    },
    {
        "id": "ao16",
        "type": "ax-op",
        "z": "t1",
        "name": "rx.buffer_with_time_or_count",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"timespan\": 0.6, \"count\": 8}",
        "outputs": 1,
        "x": 1470,
        "y": 1460,
        "wires": [
            [
                "as3"
            ]
        ]
    },
    {
        "id": "ao17",
        "type": "ax-op",
        "z": "t1",
        "name": "intel.identify_changes",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 760,
        "y": 1000,
        "wires": [
            [
                "465769e3.720a"
            ]
        ]
    },
    {
        "id": "ao18",
        "type": "ax-op",
        "z": "t1",
        "name": "intel.inspect_hosts",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "ao7"
            ]
        ]
    },
    {
        "id": "ao19",
        "type": "ax-op",
        "z": "t1",
        "name": "to_band",
        "label": "",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{\"redis_host\":\"127.0.0.1\",\"redis_port\":6378}",
        "outputs": 1,
        "x": 800,
        "y": 760,
        "wires": [
            [
                "ao18"
            ]
        ]
    },
    {
        "id": "ao20",
        "type": "ax-op",
        "z": "t1",
        "name": "intel.pme",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{\"config\":[{\"name\":\"2.neighbors_zero\",\"current\":\"2.expert.neighbors.total\",\"mov_avg\":\"2.pme.neighbors_last4h\",\"operation\":\"ratio\",\"relation\":\"equal\",\"threshold\":1,\"action\":\"reboot\",\"min\":2},{\"name\":\"2.quality_drop\",\"current\":\"2.expert.cur_q\",\"mov_avg\":\"2.pme.cur_q_last4h\",\"operation\":\"diff\",\"relation\":\"lower\",\"threshold\":-0.3,\"action\":\"optimize\",\"min\":0.2,\"max\":1}]}",
        "outputs": 1,
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "ao11"
            ]
        ]
    },
    {
        "id": "ac3",
        "type": "ax-cond",
        "z": "t2",
        "name": "is_reading",
        "condition": "[[\"props.result\"],[\"cpeid\",\"and\",\"props.WiFi\"]]",
        "match_msg": false,
        "outputs": 2,
        "port_labels": [],
        "x": 890,
        "y": 120,
        "wires": [
            [
                "ao36"
            ],
            [
                "ao21"
            ]
        ]
    },
    {
        "id": "ao21",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.add_conf",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"country\": \"Europe\",\"upper_chan_2\":13,\"dfs_weight\":0.95,\"regulatory_domain\":\"ETSI\",\"algo_2\":\"odiac\",\"algo_5\":\"base\",\"allow_auto_enforce_2\":true,\"allow_auto_enforce_5\":true}",
        "outputs": 1,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "ao22"
            ]
        ]
    },
    {
        "id": "ao22",
        "type": "ax-op",
        "z": "t2",
        "name": "validate_and_arrange_data",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "ao23"
            ]
        ]
    },
    {
        "id": "ao23",
        "type": "ax-op",
        "z": "t2",
        "name": "expert.fix_radio_refs",
        "outputs": 1,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "ao24"
            ]
        ]
    },
    {
        "id": "ao24",
        "type": "ax-op",
        "z": "t2",
        "name": "expert.normalize_scan_result",
        "outputs": 1,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "ao25"
            ]
        ]
    },
    {
        "id": "ao25",
        "type": "ax-op",
        "z": "t2",
        "name": "expert.access_points_into_ssids",
        "outputs": 1,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "ao26"
            ]
        ]
    },
    {
        "id": "ao26",
        "type": "ax-op",
        "z": "t2",
        "name": "expert.band_into_ssids",
        "outputs": 1,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "ao34"
            ]
        ]
    },
    {
        "id": "ao28",
        "type": "ax-op",
        "z": "t2",
        "name": "arrange_data",
        "outputs": 1,
        "x": 350,
        "y": 1240,
        "wires": [
            [
                "ao36"
            ]
        ]
    },
    {
        "id": "ao29",
        "type": "ax-op",
        "z": "t2",
        "name": "data_filter",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"path\": \"history\", \"allow\": [\"id\", \"ts\", \"job\", \"cache\", \"collector.full_scan\", \"collector.light_scan\", \"2.changes.auto\", \"2.changes.axwifi\", \"2.changes.manual\", \"2.expert.cur_ch\", \"2.expert.cur_bw\", \"2.expert.cur_q\", \"2.expert.cur_radio_ch\", \"2.expert.target_ch\", \"2.expert.target_bw\", \"2.expert.target_q\", \"2.expert.delta_q\", \"2.expert.neighbors.aci\", \"2.expert.neighbors.cci\", \"2.expert.neighbors.friends\", \"2.expert.neighbors.total\", \"2.pme.all\", \"2.recommendations.total\", \"2.ssid.1.clients.total\", \"2.ssid.1.clients.low_rssi\", \"2.ssid.1.clients.low_rssi_macs\", \"2.ssid.1.clients.sig_avg\", \"2.issues.interf\", \"2.issues.perf\", \"WiFi.Radio.1.Channel\", \"WiFi.Radio.1.AutoChannelEnable\", \"5.changes.auto\", \"5.changes.axwifi\", \"5.changes.manual\", \"5.expert.cur_ch\", \"5.expert.cur_bw\", \"5.expert.cur_q\", \"5.expert.cur_radio_ch\", \"5.expert.target_ch\", \"5.expert.target_bw\", \"5.expert.target_q\", \"5.expert.delta_q\", \"5.expert.neighbors.aci\", \"5.expert.neighbors.cci\", \"5.expert.neighbors.friends\", \"5.expert.neighbors.total\", \"5.pme.all\", \"5.recommendations.total\", \"5.ssid.5.clients.total\", \"5.ssid.5.clients.low_rssi\", \"5.ssid.5.clients.low_rssi_macs\", \"5.ssid.5.clients.sig_avg\", \"5.issues.interf\", \"5.issues.perf\", \"WiFi.Radio.5.Channel\", \"WiFi.Radio.5.AutoChannelEnable\"]}",
        "outputs": 1,
        "x": 1520,
        "y": 1300,
        "wires": [
            [
                "ao31"
            ]
        ]
    },
    {
        "id": "ao30",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.redis.set_events",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"port\": 6378, \"key\": \"qualities:{d[id]}\", \"enc\": \"compressed\", \"maxlen\": 96}",
        "outputs": 1,
        "x": 2000,
        "y": 1300,
        "wires": [
            [
                "as4"
            ]
        ]
    },
    {
        "id": "as4",
        "type": "ax-snk",
        "z": "t2",
        "name": "ax.snk.log",
        "kw": {
            "truncate": 100
        },
        "outputs": 0,
        "x": 2210,
        "y": 1260,
        "wires": []
    },
    {
        "id": "as5",
        "type": "ax-snk",
        "z": "t2",
        "name": "ax.elastic.snk",
        "label": "",
        "kw": "{\"hosts\":\"127.0.0.1\",\"number_of_shards\":1,\"index\":\"wifi\",\"http_pw\":\"axwifi\"}",
        "outputs": 0,
        "x": 1660,
        "y": 1420,
        "wires": []
    },
    {
        "id": "axsr2",
        "type": "ax-src",
        "z": "t2",
        "name": "ax.kafka.src",
        "kw": "{\"password\": \"cli\", \"group_id\": \"axwifi\", \"topics\": [\"axwifi_readings_adhoc\"], \"config\": {\"bootstrap.servers\": \"192.168.29.104:9092\", \"security.protocol\": \"sasl_plaintext\", \"sasl.mechanisms\": \"PLAIN\", \"sasl.username\": \"axtract\", \"session.timeout.ms\": 6000}}",
        "outputs": 1,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "ac3"
            ]
        ]
    },
    {
        "id": "ao31",
        "type": "ax-op",
        "z": "t2",
        "name": "rx.buffer_with_time_or_count",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"timespan\": 0.6, \"count\": 8}",
        "outputs": 1,
        "x": 1740,
        "y": 1300,
        "wires": [
            [
                "ao30"
            ]
        ]
    },
    {
        "id": "ao32",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.conv.axtree",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1340,
        "y": 1300,
        "wires": [
            [
                "ao29"
            ]
        ]
    },
    {
        "id": "ao33",
        "type": "ax-op",
        "z": "t2",
        "name": "rx.buffer_with_time_or_count",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"timespan\": 0.6, \"count\": 8}",
        "outputs": 1,
        "x": 1380,
        "y": 1420,
        "wires": [
            [
                "as5"
            ]
        ]
    },
    {
        "id": "ao34",
        "type": "ax-op",
        "z": "t2",
        "name": "to_band",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "27385a10.b81c26"
            ]
        ]
    },
    {
        "id": "as6",
        "type": "ax-snk",
        "z": "t2",
        "name": "ax.http.respond",
        "kw": "{}",
        "outputs": 0,
        "x": 2220,
        "y": 1060,
        "wires": []
    },
    {
        "id": "axsr3",
        "type": "ax-src",
        "z": "t2",
        "name": "ax.http.request",
        "kw": "{\"token\":\"X-AX-API-TOKEN\",\"streaming\": 0}",
        "outputs": 1,
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "9d0f2c77.0c8918"
            ]
        ]
    },
    {
        "id": "i2",
        "type": "inject",
        "z": "t2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"cpeid\":\"54833A-S190Y20057813\",\"sender\":{\"hosts\":\"axwifi-aio\",\"pid\":31123,\"name\":\"axtract_collector\",\"event_source\":\"main_collector_http_ipv4\"},\"ts\":1594168667.1246388,\"props\":{\"collector\":{\"msg\":\"Full Scan\",\"full_scan\":1,\"code\":200,\"details\":\"\",\"light_scan\":0},\"WiFi\":{\"NeighboringWiFiDiagnostic\":{\"scan_dt\":6009,\"coll_dt\":3887,\"DiagnosticsState\":\"Complete\",\"ResultNumberOfEntries\":56,\"Result\":{\"1\":{\"SignalStrength\":-92,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"filipeO2-Internet-803-5GHz\",\"BSSID\":\"20-E8-82-FD-9E-61\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":116},\"2\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"62-31-97-0F-B7-AD\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-42,\"Channel\":108},\"3\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"C6-FB-E4-F4-FE-6E\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-62,\"Channel\":6},\"4\":{\"SignalStrength\":-40,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D_5G\",\"BSSID\":\"BC-99-11-76-13-5E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":36},\"5\":{\"SignalStrength\":-71,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"34-FA-9F-3B-7B-FC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"6\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"60-31-97-0F-B7-A8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-43,\"Channel\":108,\"SSID\":\"Axiros_5G\"},\"7\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"34-FA-9F-BB-91-0C\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"8\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-54-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"9\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CM-N_GUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-87,\"BSSID\":\"B6-FB-E4-F8-00-17\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"10\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"BSSID\":\"74-67-F7-3B-D2-02\",\"SignalStrength\":-71,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"11\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"B4-FB-E4-F4-FE-6E\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"12\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-14-CC-A8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"13\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-CC-A8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-60,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"EMAN2\"},\"14\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"34-FA-9F-FB-8D-C8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4},\"15\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B6-FB-E4-F4-FE-6E\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"CM-N_GUEST\"},\"16\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-EE-9C\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-63,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100,\"SSID\":\"GUESTELEA\"},\"17\":{\"SignalStrength\":-80,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"18\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"44-1E-98-54-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"19\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"44-1E-98-94-EE-9C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"20\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"62-31-97-0F-B7-DD\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":52,\"SSID\":\"\"},\"21\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"44-1E-98-14-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100},\"22\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-94-CC-A8\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"23\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"BMCOM\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"60-31-97-0F-B7-D8\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":52},\"24\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B4-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-87,\"Channel\":44,\"SSID\":\"CMN\"},\"25\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F5-FE-6E\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-80,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"\"},\"26\":{\"SignalStrength\":-88,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"00-FE-C8-DD-47-91\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"\",\"SecurityModeEnabled\":\"None\",\"Channel\":1,\"SSID\":\"O2-Guest\"},\"27\":{\"SignalStrength\":-46,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"60-31-97-0F-B7-A7\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"28\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Internet\",\"BSSID\":\"80-8C-97-D8-39-0F\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"29\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-14-A0-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"30\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_2.4_guest\",\"BSSID\":\"72-31-97-0F-B7-A4\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-47,\"Channel\":1},\"31\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-94-A0-98\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1},\"32\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-56,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"33\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"&lt;|&gt;\",\"BSSID\":\"90-5C-44-2F-30-61\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"34\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"35\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-3B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4,\"SSID\":\"EMANGUEST\"},\"36\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-EE-98\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1},\"37\":{\"SignalStrength\":-67,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-54-EE-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"38\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-14-EE-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"39\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"UPC\"},\"40\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"BSSID\":\"34-FA-9F-FB-7B-FC\",\"SignalStrength\":-73,\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"41\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"34-FA-9F-BB-7B-FC\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN8\"},\"42\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-F0-E8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-84,\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"43\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-D4-EE-98\",\"SignalStrength\":-67,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"44\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":4,\"SSID\":\"EMAN2\"},\"45\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D\",\"BSSID\":\"BC-99-11-76-13-5D\",\"SignalStrength\":-40,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":3},\"46\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"44-1E-98-D4-CC-AC\",\"SignalStrength\":-60,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108,\"SSID\":\"GUESTELEA\"},\"47\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-61,\"Channel\":108},\"48\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-86,\"Channel\":44,\"SSID\":\"\"},\"49\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"BSSID\":\"B4-FB-E4-F5-FE-6E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-81,\"Channel\":44},\"50\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-7B-FC\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN2\"},\"51\":{\"SignalStrength\":-43,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_5_guest\",\"BSSID\":\"62-31-97-0F-B7-A9\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"52\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"34-FA-9F-FB-91-0C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"53\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-AC\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"54\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-BB-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":4,\"SSID\":\"EMAN8\"},\"55\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-78,\"BSSID\":\"34-FA-9F-3B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"56\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"34-FA-9F-7B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":44}}},\"Radio\":{\"1\":{\"Status\":\"Up\",\"Enable\":1,\"OperatingChannelBandwidth\":\"20MHz\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"n\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":0,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"PossibleChannels\":\"1,2,3,4,5,6,7,8,9,10,11,12,13\",\"Channel\":11},\"5\":{\"Status\":\"Up\",\"Enable\":1,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":1,\"OperatingChannelBandwidth\":\"80MHz\",\"PossibleChannels\":\"36,40,44,48,52,56,60,64,100,104,108,112,116,132,136,140\",\"Channel\":36}},\"SSID\":{\"1\":{\"BSSID\":\"54-83-3A-3B-2E-01\",\"LowerLayers\":\"Device.WiFi.Radio.1\",\"SSID\":\"Zyxel_2E01\"},\"5\":{\"LowerLayers\":\"Device.WiFi.Radio.5\",\"BSSID\":\"54-83-3A-3B-2E-02\",\"SSID\":\"Zyxel_2E01_5G\"}},\"AccessPoint\":{\"1\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"AESEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.1\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-00\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-80,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"}}},\"5\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.5\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-02\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-03\",\"SignalStrength\":-80,\"AuthenticationState\":1}}}}},\"DeviceInfo\":{\"MemoryStatus\":{\"Total\":10000,\"Free\":10},\"ProcessStatus\":{\"CPUUsage\":90},\"UpTime\":73920,\"HardwareVersion\":\"EMG3525-T50B\",\"ModelName\":\"EMG3525-T50B\",\"SerialNumber\":\"S190Y20057813\",\"SoftwareVersion\":\"V5.50(ABPM.0)D0\",\"ManufacturerOUI\":\"54833A\",\"ProductClass\":\"EMG3525-T50B\",\"Manufacturer\":\"Zyxel\"},\"metadata\":{\"adhoc\":{\"author\":\"ax\",\"cond\":{\"enhance\":{\"2\":0,\"5\":0},\"id\":\"second\"},\"id\":\"second\",\"type\":\"trigger\"},\"allow_auto_enforce_5\":null,\"cid\":\"foo\",\"last_scan_ts\":1593765588366,\"allow_collection\":1,\"allow_auto_enforce_2\":1}},\"nr\":2}",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "c2"
            ]
        ]
    },
    {
        "id": "c2",
        "type": "change",
        "z": "t2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ts",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "ac3"
            ]
        ]
    },
    {
        "id": "ao36",
        "type": "ax-op",
        "z": "t2",
        "name": "api.qualify_adhoc",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 850,
        "y": 1240,
        "wires": [
            [
                "94a6cd1e.57c94"
            ]
        ]
    },
    {
        "id": "ao37",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.kafka.snk",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{\"password\": \"cli\", \"topic\": \"axwifi_adhoc\", \"enc\": \"pickle-2\", \"config\": {\"bootstrap.servers\": \"192.168.29.104:9092\", \"security.protocol\": \"sasl_plaintext\", \"sasl.mechanisms\": \"PLAIN\", \"sasl.username\": \"axtract\", \"log.connection.close\": false, \"queue.buffering.max.ms\": 100}}",
        "outputs": 1,
        "x": 1750,
        "y": 1040,
        "wires": [
            [
                "ao38"
            ]
        ]
    },
    {
        "id": "ao38",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.http.await_response",
        "async_timeout": 300,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1990,
        "y": 1060,
        "wires": [
            [
                "as6"
            ]
        ]
    },
    {
        "id": "94a6cd1e.57c94",
        "type": "ax-cond",
        "z": "t2",
        "name": "route_axt_ev",
        "condition": "[[\"next\",\"==\",\"kafka\"],[\"next\",\"==\",\"close\"],[\"next\",\"==\",\"drop\"]]",
        "match_msg": false,
        "outputs": 3,
        "port_labels": [],
        "x": 1110,
        "y": 1240,
        "wires": [
            [
                "ao37",
                "ao32",
                "ao33"
            ],
            [
                "ao38"
            ],
            [
                "as4"
            ]
        ]
    },
    {
        "id": "9d0f2c77.0c8918",
        "type": "ax-op",
        "z": "t2",
        "name": "api.handler",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1170,
        "y": 1020,
        "wires": [
            [
                "84c2162a.865008"
            ]
        ]
    },
    {
        "id": "84c2162a.865008",
        "type": "ax-op",
        "z": "t2",
        "name": "api.add_generic",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1460,
        "y": 1020,
        "wires": [
            [
                "ao37"
            ]
        ]
    },
    {
        "id": "465769e3.720a",
        "type": "ax-op",
        "z": "t1",
        "name": "intel.inspect_clients",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 1050,
        "y": 1000,
        "wires": [
            [
                "1c3f77fd.151ff8"
            ]
        ]
    },
    {
        "id": "1c3f77fd.151ff8",
        "type": "ax-op",
        "z": "t1",
        "name": "calculate_rates",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"calculate\":[{\"prop\":\"WiFi.Radio.1.Stats.BytesSent\"},{\"prop\":\"WiFi.Radio.1.Stats.BytesReceived\"},{\"prop\":\"WiFi.Radio.5.Stats.BytesSent\"},{\"prop\":\"WiFi.Radio.5.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.1.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.1.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.1.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.2.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.2.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.2.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.2.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.5.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.5.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.5.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.5.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.6.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.6.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.6.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.6.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.RetransCount\"}]}",
        "outputs": 1,
        "x": 780,
        "y": 1120,
        "wires": [
            [
                "ao9"
            ]
        ]
    },
    {
        "id": "66a37401.84fd5c",
        "type": "ax-op",
        "z": "t2",
        "name": "expert.delta_q",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"redis_host\": \"127.0.0.1\", \"redis_port\": 6378}",
        "outputs": 1,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "2a528c3e.a9dc0c"
            ]
        ]
    },
    {
        "id": "2a528c3e.a9dc0c",
        "type": "ax-op",
        "z": "t2",
        "name": "ax.redis.get_events",
        "async_timeout": 1,
        "deep_copy": false,
        "kw": "{\"port\": 6378, \"key\": \"qualities:{d[id]}\", \"pth\": \"history\", \"count\": 1000}",
        "outputs": 1,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "403fc15a.135008"
            ]
        ]
    },
    {
        "id": "f0167826.a959a8",
        "type": "ax-op",
        "z": "t2",
        "name": "rolling_aggregation",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"config\":[{\"src\":\"collector.full_scan\",\"dst\":\"collector.full_scan_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"collector.light_scan\",\"dst\":\"collector.light_scan_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.axwifi\",\"dst\":\"2.changes.axwifi_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.manual\",\"dst\":\"2.changes.manual_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.changes.auto\",\"dst\":\"2.changes.auto_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.axwifi\",\"dst\":\"5.changes.axwifi_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.manual\",\"dst\":\"5.changes.manual_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"5.changes.auto\",\"dst\":\"5.changes.auto_last24h\",\"cf\":\"sum\",\"age\":86400},{\"src\":\"2.expert.neighbors.total\",\"dst\":\"2.pme.neighbors_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.total\",\"dst\":\"2.pme.clients_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.total\",\"dst\":\"2.ssid.1.clients.total_last24h\",\"cf\":\"avg\",\"age\":86400},{\"src\":\"2.ssid.1.clients.low_rssi\",\"dst\":\"2.ssid.1.clients.low_rssi_last24h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"2.ssid.1.clients.low_rssi_macs\",\"dst\":\"2.ssid.1.clients.low_rssi_macs_last24h\",\"cf\":\"concat\",\"age\":86400},{\"src\":\"5.expert.neighbors.total\",\"dst\":\"5.pme.neighbors_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.total\",\"dst\":\"5.pme.clients_last4h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.total\",\"dst\":\"5.ssid.5.clients.total_last24h\",\"cf\":\"avg\",\"age\":86400},{\"src\":\"5.ssid.5.clients.low_rssi\",\"dst\":\"5.ssid.5.clients.low_rssi_last24h\",\"cf\":\"avg\",\"age\":14400},{\"src\":\"5.ssid.5.clients.low_rssi_macs\",\"dst\":\"5.ssid.5.clients.low_rssi_macs_last24h\",\"cf\":\"concat\",\"age\":86400}]}",
        "outputs": 1,
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "8c8fb6ea.5dcac8"
            ]
        ]
    },
    {
        "id": "8c8fb6ea.5dcac8",
        "type": "ax-op",
        "z": "t2",
        "name": "intel.generate_recommendations",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"quality_thresholds\": {\"2\": 0.4, \"5\": 0.5}, \"bad_encryptions\": [\"WEPEncryption\", \"TKIPEncryption\", \"WEPandAESEncryption\", \"TKIPandAESEncryption\", \"WEPandTKIPandAESEncryption\", \"WEPandTKIPEncryption\"],\"bad_sec_modes\": [\"WEP-64\", \"WEP-128\"], \"resources_threshold\": {\"cpu\": 90, \"memory\": 90}, \"occurrences_threshold\": 4, \"bad_op_standards\": {\"2\":[\"b\"]}}",
        "outputs": 1,
        "x": 280,
        "y": 1120,
        "wires": [
            [
                "432d8ceb.3bb804"
            ]
        ]
    },
    {
        "id": "403fc15a.135008",
        "type": "ax-op",
        "z": "t2",
        "name": "intel.identify_changes",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 320,
        "y": 880,
        "wires": [
            [
                "2508db95.abc97c"
            ]
        ]
    },
    {
        "id": "27385a10.b81c26",
        "type": "ax-op",
        "z": "t2",
        "name": "intel.inspect_hosts",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "66a37401.84fd5c"
            ]
        ]
    },
    {
        "id": "432d8ceb.3bb804",
        "type": "ax-op",
        "z": "t2",
        "name": "intel.pme",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{\"config\":[{\"name\":\"2.neighbors_zero\",\"current\":\"2.expert.neighbors.total\",\"mov_avg\":\"2.pme.neighbors_last4h\",\"operation\":\"ratio\",\"relation\":\"equal\",\"threshold\":1,\"action\":\"reboot\",\"min\":2},{\"name\":\"2.quality_drop\",\"current\":\"2.expert.cur_q\",\"mov_avg\":\"2.pme.cur_q_last4h\",\"operation\":\"diff\",\"relation\":\"lower\",\"threshold\":-0.3,\"action\":\"optimize\",\"min\":0.2,\"max\":1}]}",
        "outputs": 1,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "ao28"
            ]
        ]
    },
    {
        "id": "2508db95.abc97c",
        "type": "ax-op",
        "z": "t2",
        "name": "intel.inspect_clients",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 610,
        "y": 880,
        "wires": [
            [
                "6673809b.34ef78"
            ]
        ]
    },
    {
        "id": "6673809b.34ef78",
        "type": "ax-op",
        "z": "t2",
        "name": "calculate_rates",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"calculate\":[{\"prop\":\"WiFi.Radio.1.Stats.BytesSent\"},{\"prop\":\"WiFi.Radio.1.Stats.BytesReceived\"},{\"prop\":\"WiFi.Radio.5.Stats.BytesSent\"},{\"prop\":\"WiFi.Radio.5.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.1.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.1.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.1.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.1.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.2.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.2.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.2.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.2.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.2.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.5.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.5.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.5.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.5.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.5.Stats.RetransCount\"},{\"prop\":\"WiFi.SSID.6.Stats.BytesSent\"},{\"prop\":\"WiFi.SSID.6.Stats.BytesReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.PacketsSent\"},{\"prop\":\"WiFi.SSID.6.Stats.PacketsReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.ErrorsSent\"},{\"prop\":\"WiFi.SSID.6.Stats.ErrorsReceived\"},{\"prop\":\"WiFi.SSID.6.Stats.RetransCount\"}]}",
        "outputs": 1,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "f0167826.a959a8"
            ]
        ]
    },
    {
        "id": "d612e7cd.dd1b8",
        "type": "ax-op",
        "z": "t1",
        "name": "custom.avm_parser",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"redis_host\":\"127.0.0.1\",\"redis_port\":6378}",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "b2e07153.f172a"
            ]
        ]
    },
    {
        "id": "a1054ea3.041168",
        "type": "ax-src",
        "z": "t1",
        "name": "ax.kafka.src",
        "label": "axwifi_avm_readings",
        "kw": "{\"password\":\"cli\",\"group_id\":\"axwifi\",\"topics\":[\"axwifi_avm_readings\"],\"config\":{\"bootstrap.servers\":\"192.168.29.104:9092\",\"security.protocol\":\"sasl_plaintext\",\"sasl.mechanisms\":\"PLAIN\",\"sasl.username\":\"axtract\",\"session.timeout.ms\":6000}}",
        "outputs": 1,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "d612e7cd.dd1b8"
            ]
        ]
    },
    {
        "id": "aca94d10.ff4688",
        "type": "ax-snk",
        "z": "t1",
        "name": "ax.snk.log",
        "label": "",
        "kw": "{}",
        "outputs": 0,
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "5a4a4e5d.4e79",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.redis.set",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"port\":6378,\"key\":\"full:{d[id]}\",\"enc\":\"compressed\",\"ex\":20}",
        "outputs": 1,
        "x": 1410,
        "y": 340,
        "wires": [
            [
                "b95f38.632bf8c8"
            ]
        ]
    },
    {
        "id": "b95f38.632bf8c8",
        "type": "ax-snk",
        "z": "t1",
        "name": "ax.snk.log",
        "label": "",
        "kw": "{}",
        "outputs": 0,
        "x": 1610,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a1c00e4.702618",
        "type": "ax-cond",
        "z": "t1",
        "name": "wait_avm_json",
        "condition": "[[\"metadata.mode\",\"in\",[\"avm_fb7590\"]],[\"metadata.mode\",\"not\",\"in\",[\"avm_fb7590\"]]]",
        "match_msg": false,
        "outputs": 2,
        "port_labels": [],
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "5a4a4e5d.4e79"
            ],
            [
                "ao3"
            ]
        ]
    },
    {
        "id": "b2e07153.f172a",
        "type": "ax-cond",
        "z": "t1",
        "name": "is_ready",
        "condition": "[[\"ready\",\"==\",1],[\"ready\",\"==\",0]]",
        "match_msg": false,
        "outputs": 2,
        "port_labels": [],
        "x": 160,
        "y": 480,
        "wires": [
            [
                "df902d92.e21dc8"
            ],
            [
                "23a31c1c.3efdbc"
            ]
        ]
    },
    {
        "id": "23a31c1c.3efdbc",
        "type": "ax-op",
        "z": "t1",
        "name": "ax.redis.set",
        "label": "",
        "async_timeout": "",
        "deep_copy": false,
        "kw": "{\"port\":6378,\"key\":\"avm_{d[upload_method]}:{d[id]}\",\"enc\":\"compressed\",\"ex\":20}",
        "outputs": 1,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "aca94d10.ff4688"
            ]
        ]
    },
    {
        "id": "df902d92.e21dc8",
        "type": "ax-op",
        "z": "t1",
        "name": "custom.merger",
        "label": "",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{\"redis_host\":\"127.0.0.1\",\"redis_port\":6378}",
        "outputs": 1,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "4a1d3a04.615d7c"
            ]
        ]
    },
    {
        "id": "1d0160eb.97cecf",
        "type": "inject",
        "z": "t1",
        "name": "Simulate Errors",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"cpeid\":\"603197-S172V24000016\",\"sender\":{\"hosts\":\"axwifi-aio\",\"pid\":31123,\"name\":\"axtract_collector\",\"event_source\":\"main_collector_http_ipv4\"},\"ts\":1594168667.1246388,\"props\":{\"collector\":{\"msg\":\"Full Scan\",\"full_scan\":1,\"code\":200,\"details\":\"\",\"light_scan\":0},\"WiFi\":{\"NeighboringWiFiDiagnostic\":{\"scan_dt\":6009,\"coll_dt\":3887,\"DiagnosticsState\":\"Complete\",\"ResultNumberOfEntries\":56,\"Result\":{\"1\":{\"SignalStrength\":-92,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"filipeO2-Internet-803-5GHz\",\"BSSID\":\"A0-E4-CB-C9-DB-B5\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":36},\"2\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"62-31-97-0F-B7-AD\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-42,\"Channel\":108},\"3\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"C6-FB-E4-F4-FE-6E\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-62,\"Channel\":6},\"4\":{\"SignalStrength\":-40,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D_5G\",\"BSSID\":\"BC-99-11-76-13-5E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":36},\"5\":{\"SignalStrength\":-71,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"34-FA-9F-3B-7B-FC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"6\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"60-31-97-0F-B7-A8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-43,\"Channel\":108,\"SSID\":\"Axiros_5G\"},\"7\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"34-FA-9F-BB-91-0C\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"8\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-54-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"9\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CM-N_GUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-87,\"BSSID\":\"B6-FB-E4-F8-00-17\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"10\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"BSSID\":\"74-67-F7-3B-D2-02\",\"SignalStrength\":-71,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"11\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"B4-FB-E4-F4-FE-6E\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"12\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-14-CC-A8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"13\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-CC-A8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-60,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"EMAN2\"},\"14\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"34-FA-9F-FB-8D-C8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4},\"15\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B6-FB-E4-F4-FE-6E\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"CM-N_GUEST\"},\"16\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-EE-9C\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-63,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100,\"SSID\":\"GUESTELEA\"},\"17\":{\"SignalStrength\":-80,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"18\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"44-1E-98-54-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"19\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"44-1E-98-94-EE-9C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":100},\"20\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"62-31-97-0F-B7-DD\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":52,\"SSID\":\"\"},\"21\":{\"SignalStrength\":-63,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"44-1E-98-14-EE-9C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":100},\"22\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-94-CC-A8\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6},\"23\":{\"SignalStrength\":-37,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"BMCOM\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"60-31-97-0F-B7-D8\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":52},\"24\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B4-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-87,\"Channel\":44,\"SSID\":\"CMN\"},\"25\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F5-FE-6E\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-80,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"\"},\"26\":{\"SignalStrength\":-88,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"00-FE-C8-DD-47-91\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"\",\"SecurityModeEnabled\":\"None\",\"Channel\":1,\"SSID\":\"O2-Guest\"},\"27\":{\"SignalStrength\":-46,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"60-31-97-0F-B7-A7\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"28\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Internet\",\"BSSID\":\"80-8C-97-D8-39-0F\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"29\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-14-A0-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"30\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_2.4_guest\",\"BSSID\":\"72-31-97-0F-B7-A4\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-47,\"Channel\":1},\"31\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-94-A0-98\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1},\"32\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-56,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"33\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"&lt;|&gt;\",\"BSSID\":\"90-5C-44-2F-30-61\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"34\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"35\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-3B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4,\"SSID\":\"EMANGUEST\"},\"36\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-EE-98\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1},\"37\":{\"SignalStrength\":-67,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-54-EE-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"38\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-14-EE-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"39\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"UPC\"},\"40\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"BSSID\":\"34-FA-9F-FB-7B-FC\",\"SignalStrength\":-73,\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"41\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"34-FA-9F-BB-7B-FC\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN8\"},\"42\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-F0-E8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-84,\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"43\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-D4-EE-98\",\"SignalStrength\":-67,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"44\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":4,\"SSID\":\"EMAN2\"},\"45\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D\",\"BSSID\":\"BC-99-11-76-13-5D\",\"SignalStrength\":-40,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":3},\"46\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"5GHz\",\"BSSID\":\"44-1E-98-D4-CC-AC\",\"SignalStrength\":-60,\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108,\"SSID\":\"GUESTELEA\"},\"47\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-CC-AC\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-61,\"Channel\":108},\"48\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"C6-FB-E4-F8-00-17\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-86,\"Channel\":44,\"SSID\":\"\"},\"49\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"BSSID\":\"B4-FB-E4-F5-FE-6E\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-81,\"Channel\":44},\"50\":{\"SignalStrength\":-72,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-7B-FC\",\"OperatingFrequencyBand\":\"5GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44,\"SSID\":\"EMAN2\"},\"51\":{\"SignalStrength\":-43,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_5_guest\",\"BSSID\":\"62-31-97-0F-B7-A9\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"52\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"BSSID\":\"34-FA-9F-FB-91-0C\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":44},\"53\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-AC\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":108},\"54\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-BB-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":4,\"SSID\":\"EMAN8\"},\"55\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"5GHz\",\"SignalStrength\":-78,\"BSSID\":\"34-FA-9F-3B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"EncryptionMode\":\"AES\",\"Channel\":44},\"56\":{\"SignalStrength\":-78,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN2\",\"BSSID\":\"34-FA-9F-7B-91-0C\",\"OperatingStandards\":\"a,n,ac\",\"OperatingFrequencyBand\":\"5GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":44}}},\"Radio\":{\"1\":{\"Status\":\"Up\",\"Enable\":1,\"OperatingChannelBandwidth\":\"20MHz\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":0,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"PossibleChannels\":\"1,2,3,4,5,6,7,8,9,10,11,12,13\",\"Channel\":1},\"5\":{\"Status\":\"Up\",\"Enable\":1,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"n\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":1,\"OperatingChannelBandwidth\":\"80MHz\",\"PossibleChannels\":\"36,40,44,48,52,56,60,64,100,104,108,112,116,132,136,140\",\"Channel\":36}},\"SSID\":{\"1\":{\"BSSID\":\"54-83-3A-3B-2E-01\",\"LowerLayers\":\"Device.WiFi.Radio.1\",\"SSID\":\"Zyxel_2E01\",\"Stats\":{\"BytesReceived\":11,\"ErrorsSent\":0,\"PacketsReceived\":88,\"ErrorsReceived\":1,\"BytesSent\":12,\"PacketsSent\":96}},\"5\":{\"LowerLayers\":\"Device.WiFi.Radio.5\",\"BSSID\":\"54-83-3A-3B-2E-02\",\"SSID\":\"Zyxel_2E01_5G\"}},\"AccessPoint\":{\"1\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.1\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-00\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-80,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"},\"3\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-45,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"}}},\"5\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.5\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-01-01\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-01-02\",\"SignalStrength\":-80,\"AuthenticationState\":1}}}}},\"DeviceInfo\":{\"MemoryStatus\":{\"Total\":10000,\"Free\":10},\"ProcessStatus\":{\"CPUUsage\":97},\"UpTime\":73920,\"HardwareVersion\":\"EMG3525-T50B\",\"ModelName\":\"EMG3525-T50B\",\"SerialNumber\":\"S190Y20057813\",\"SoftwareVersion\":\"V5.50(ABPM.0)D0\",\"ManufacturerOUI\":\"54833A\",\"ProductClass\":\"EMG3525-T50B\",\"Manufacturer\":\"Zyxel\"},\"metadata\":{\"allow_auto_enforce_5\":null,\"cid\":\"foo\",\"last_scan_ts\":1593765588366,\"allow_collection\":1,\"allow_auto_enforce_2\":1}},\"nr\":1}",
        "payloadType": "json",
        "x": 780,
        "y": 20,
        "wires": [
            [
                "c1"
            ]
        ]
    },
    {
        "id": "4a1d3a04.615d7c",
        "type": "ax-op",
        "z": "t1",
        "name": "custom.inspect_avm_clients",
        "label": "",
        "async_timeout": 0,
        "deep_copy": false,
        "kw": "{}",
        "outputs": 1,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "ao3"
            ]
        ]
    },
    {
        "id": "e5708ec2.fa7698",
        "type": "inject",
        "z": "t1",
        "name": "Simulate Errors 2.4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"cpeid\":\"603197-S172V24000016\",\"sender\":{\"hosts\":\"axwifi-aio\",\"pid\":31123,\"name\":\"axtract_collector\",\"event_source\":\"main_collector_http_ipv4\"},\"ts\":1594168667.1246388,\"props\":{\"collector\":{\"msg\":\"Full Scan\",\"full_scan\":1,\"code\":200,\"details\":\"\",\"light_scan\":0},\"WiFi\":{\"NeighboringWiFiDiagnostic\":{\"scan_dt\":6009,\"coll_dt\":3887,\"DiagnosticsState\":\"Complete\",\"ResultNumberOfEntries\":56,\"Result\":{\"3\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"C6-FB-E4-F4-FE-6E\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-62,\"Channel\":6},\"10\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"\",\"BSSID\":\"74-67-F7-3B-D2-02\",\"SignalStrength\":-71,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":11},\"11\":{\"SignalStrength\":-61,\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"CMN\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"BSSID\":\"B4-FB-E4-F4-FE-6E\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":10},\"12\":{\"SignalStrength\":-61,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-14-CC-A8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":6},\"13\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-CC-A8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-60,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":9,\"SSID\":\"EMAN2\"},\"14\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"GUESTELEA\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"34-FA-9F-FB-8D-C8\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4},\"15\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"B6-FB-E4-F4-FE-6E\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":6,\"SSID\":\"CM-N_GUEST\"},\"17\":{\"SignalStrength\":-46,\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST131\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":13},\"18\":{\"SignalStrength\":-36,\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST91\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":13},\"19\":{\"SignalStrength\":-46,\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST9\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":9},\"20\":{\"SignalStrength\":-36,\"Noise\":-80,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMANGUEST\",\"BSSID\":\"44-1E-98-14-CC-48\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":9},\"22\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-61,\"BSSID\":\"44-1E-98-94-CC-A8\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":13},\"26\":{\"SignalStrength\":-88,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"00-FE-C8-DD-47-91\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"\",\"SecurityModeEnabled\":\"None\",\"Channel\":13,\"SSID\":\"O2-Guest\"},\"27\":{\"SignalStrength\":-46,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"60-31-97-0F-B7-A7\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"28\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Internet\",\"BSSID\":\"80-8C-97-D8-39-0F\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"29\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-14-A0-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"30\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Axiros_2.4_guest\",\"BSSID\":\"72-31-97-0F-B7-A4\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-47,\"Channel\":1},\"31\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"BSSID\":\"44-1E-98-94-A0-98\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1},\"32\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-54-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SignalStrength\":-56,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"33\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"&lt;|&gt;\",\"BSSID\":\"90-5C-44-2F-30-61\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1},\"34\":{\"SignalStrength\":-57,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-A0-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"35\":{\"SignalStrength\":-68,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-3B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Personal\",\"Channel\":4,\"SSID\":\"EMANGUEST\"},\"36\":{\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"EMAN8\",\"BSSID\":\"44-1E-98-94-EE-98\",\"OperatingStandards\":\"b,g,n\",\"OperatingFrequencyBand\":\"2.4GHz\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1},\"37\":{\"SignalStrength\":-67,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-54-EE-98\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"EMAN2\"},\"38\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-14-EE-98\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-67,\"Channel\":1,\"SSID\":\"EMANGUEST\"},\"39\":{\"SignalStrength\":-87,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":1,\"SSID\":\"UPC\"},\"40\":{\"SignalStrength\":-30,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":13,\"SSID\":\"UPC40\"},\"41\":{\"SignalStrength\":-30,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"92-5C-14-2F-30-61\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"TKIP,AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":13,\"SSID\":\"UPC41\"},\"42\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"44-1E-98-D4-F0-E8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SignalStrength\":-84,\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"43\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"OperatingFrequencyBand\":\"2.4GHz\",\"BSSID\":\"44-1E-98-D4-EE-98\",\"SignalStrength\":-67,\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":1,\"SSID\":\"GUESTELEA\"},\"44\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-7B-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":4,\"SSID\":\"EMAN2\"},\"45\":{\"SecurityModeEnabled\":\"WPA2-Personal\",\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"SSID\":\"Zyxel_135D\",\"BSSID\":\"BC-99-11-76-13-5D\",\"SignalStrength\":-40,\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"Channel\":3},\"54\":{\"SignalStrength\":-69,\"Noise\":-70,\"OperatingChannelBandwidth\":\"Auto\",\"BSSID\":\"34-FA-9F-BB-8D-C8\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b,g,n\",\"EncryptionMode\":\"AES\",\"SecurityModeEnabled\":\"WPA2-Enterprise\",\"Channel\":4,\"SSID\":\"EMAN8\"}}},\"Radio\":{\"1\":{\"Status\":\"Up\",\"Enable\":1,\"OperatingChannelBandwidth\":\"20MHz\",\"OperatingFrequencyBand\":\"2.4GHz\",\"OperatingStandards\":\"b\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":0,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"PossibleChannels\":\"1,2,3,4,5,6,7,8,9,10,11,12,13\",\"Channel\":1},\"5\":{\"Status\":\"Up\",\"Enable\":1,\"Stats\":{\"BytesReceived\":0,\"ErrorsSent\":0,\"PacketsReceived\":0,\"ErrorsReceived\":0,\"BytesSent\":0,\"PacketsSent\":0},\"OperatingFrequencyBand\":\"5GHz\",\"OperatingStandards\":\"n\",\"RegulatoryDomain\":\"DE\",\"AutoChannelEnable\":1,\"OperatingChannelBandwidth\":\"80MHz\",\"PossibleChannels\":\"36,40,44,48,52,56,60,64,100,104,108,112,116,132,136,140\",\"Channel\":36}},\"SSID\":{\"1\":{\"BSSID\":\"54-83-3A-3B-2E-01\",\"LowerLayers\":\"Device.WiFi.Radio.1\",\"SSID\":\"Zyxel_2E01\",\"Stats\":{\"BytesReceived\":11,\"ErrorsSent\":0,\"PacketsReceived\":88,\"ErrorsReceived\":1,\"BytesSent\":12,\"PacketsSent\":96}},\"5\":{\"LowerLayers\":\"Device.WiFi.Radio.5\",\"BSSID\":\"54-83-3A-3B-2E-02\",\"SSID\":\"Zyxel_2E01_5G\"}},\"AccessPoint\":{\"1\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.1\",\"AssociatedDevice\":{\"1\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-00\",\"SignalStrength\":-50,\"AuthenticationState\":1},\"2\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-80,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"},\"3\":{\"Active\":1,\"MACAddress\":\"00-00-00-00-00-01\",\"SignalStrength\":-45,\"AuthenticationState\":1,\"OperatingStandard\":\"b\"}}},\"5\":{\"Security\":{\"ModeEnabled\":\"WEP-128\",\"EncryptionMode\":\"TKIPEncryption\"},\"SSIDAdvertisementEnabled\":1,\"SSIDReference\":\"Device.WiFi.SSID.5\",\"AssociatedDevice\":{}}}},\"DeviceInfo\":{\"MemoryStatus\":{\"Total\":10000,\"Free\":10},\"ProcessStatus\":{\"CPUUsage\":97},\"UpTime\":73920,\"HardwareVersion\":\"EMG3525-T50B\",\"ModelName\":\"EMG3525-T50B\",\"SerialNumber\":\"S190Y20057813\",\"SoftwareVersion\":\"V5.50(ABPM.0)D0\",\"ManufacturerOUI\":\"54833A\",\"ProductClass\":\"EMG3525-T50B\",\"Manufacturer\":\"Zyxel\"},\"metadata\":{\"allow_auto_enforce_5\":null,\"cid\":\"foo\",\"last_scan_ts\":1593765588366,\"allow_collection\":1,\"allow_auto_enforce_2\":1}},\"nr\":1}",
        "payloadType": "json",
        "x": 510,
        "y": 20,
        "wires": [
            [
                "c1"
            ]
        ]
    },
    {
        "id": "92e6d37.868ebb",
        "type": "http in",
        "z": "t1",
        "name": "test_in",
        "url": "/test_in",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "c1"
            ]
        ]
    },
    {
        "id": "70d92d6c.46aeec",
        "type": "http response",
        "z": "t1",
        "name": "test_out",
        "statusCode": "",
        "headers": {},
        "x": 1600,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a4157830.10f978",
        "type": "debug",
        "z": "t1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1220,
        "wires": []
    }
]